# Tarea 1 BIG DATA

## Kevin Fallas  Cascante

In [1]:
from pyspark.sql import SparkSession

spark=SparkSession.builder.appName('data_processing').getOrCreate()

import pyspark.sql.functions as F
from pyspark.sql.types import *

Nombre de la estructura o base de datos dentro del appName

In [86]:
df = spark.read.csv('nutricar_FACTURA.csv',header=True, inferSchema = True)

In [87]:
import findspark
findspark.init('C:\Spark\spark-2.4.4-bin-hadoop2.7')

from datetime import datetime
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, date_format, udf 
from pyspark.sql.types import DateType

In [88]:
len(df.columns)

10

In [89]:
df.printSchema()

root
 |-- TIPO_DOCUMENTO: string (nullable = true)
 |-- FACTURA: long (nullable = true)
 |-- FECHA: string (nullable = true)
 |-- RUBRO1: string (nullable = true)
 |-- MONEDA_FACTURA: string (nullable = true)
 |-- CLIENTE: integer (nullable = true)
 |-- PEDIDO: string (nullable = true)
 |-- TOTAL_FACTURA: double (nullable = true)
 |-- EMBARCAR_A: string (nullable = true)
 |-- TOTAL_UNIDADES: integer (nullable = true)

In [90]:
df.show(3)

+--------------+------------------+---------+------+--------------+-------+----------+-------------+--------------------+--------------+
|TIPO_DOCUMENTO|           FACTURA|    FECHA|RUBRO1|MONEDA_FACTURA|CLIENTE|    PEDIDO|TOTAL_FACTURA|          EMBARCAR_A|TOTAL_UNIDADES|
+--------------+------------------+---------+------+--------------+-------+----------+-------------+--------------------+--------------+
|             F|100001010000015960|01-oct-19|  null|             L|    675|PES-002343|      42750.0|Hospital La Cat�lica|             5|
|             F|100001010000015961|01-oct-19|  null|             L|   2623|PED-105730|     106199.2|Centro Radiol�gic...|            40|
|             F|100001010000015962|01-oct-19|  null|             L|    825|PED-105729|     764032.5|Asociacion Costar...|            90|
+--------------+------------------+---------+------+--------------+-------+----------+-------------+--------------------+--------------+
only showing top 3 rows

In [91]:
df.show()

+--------------+------------------+---------+------------------+--------------+-------+----------+-------------+--------------------+--------------+
|TIPO_DOCUMENTO|           FACTURA|    FECHA|            RUBRO1|MONEDA_FACTURA|CLIENTE|    PEDIDO|TOTAL_FACTURA|          EMBARCAR_A|TOTAL_UNIDADES|
+--------------+------------------+---------+------------------+--------------+-------+----------+-------------+--------------------+--------------+
|             F|100001010000015960|01-oct-19|              null|             L|    675|PES-002343|      42750.0|Hospital La Cat�lica|             5|
|             F|100001010000015961|01-oct-19|              null|             L|   2623|PED-105730|     106199.2|Centro Radiol�gic...|            40|
|             F|100001010000015962|01-oct-19|              null|             L|    825|PED-105729|     764032.5|Asociacion Costar...|            90|
|             F|100001010000015963|01-oct-19|2017LA-000111-2102|             D|     59|RP-0000684|       2801.6|HOSPITAL SAN JUAN...|           160|
|             F|100001010000015964|01-oct-19|2017LA-000001-2102|             D|     59|RP-0000683|     3023.856|HOSPITAL SAN JUAN...|           144|
|             F|100001010000015965|01-oct-19|2016CD-000388-2102|             D|     59|RP-0000685|   7439.71008|HOSPITAL SAN JUAN...|           264|
|             F|100001010000015966|01-oct-19|2018CD-000057-2306|             D|     52|PES-002344|       3134.0|HOSPITAL MAX PERALTA|             2|
|             F|100001010000015967|01-oct-19|              null|             D|   2900|PED-105624|       4870.0|SIEMENS HEALTHCAR...|            10|
|             F|100001010000015968|01-oct-19|              null|             D|    670|PES-002342|      9084.12|Hospital San Jos�...|             5|
|             F|100001010000015969|01-oct-19|              null|             L|    239|PED-105736|     28513.87|Farmacia Monte de...|             2|
|             F|100001010000015970|01-oct-19|              null|             L|    887|PED-105737|    613160.94|Instituto Centroa...|           112|
|             F|100001010000015971|01-oct-19|              null|             L|    199|PED-105738|     36826.59|       Farmacia Asis|             6|
|             F|100001010000015972|01-oct-19|              null|             L|   2310|PED-105739|     30092.97|Farma Value Costa...|             1|
|             F|100001010000015973|01-oct-19|              null|             L|    675|PED-105735|    111492.16|Hospital La Cat�lica|             8|
|             D|100001030000002113|01-oct-19|              null|             L|    817|PED-105710|      2222.05|Farmavox Int. S.A...|             1|
|             F|100001010000015974|01-oct-19|              null|             D|    670|PED-105740|       1590.0|Hospital San Jos�...|             5|
|             F|100001010000015975|01-oct-19|              null|             L|    641|PED-105743|     38268.08|     Farmacia Zamora|             4|
|             F|100001010000015976|01-oct-19|2016CD-000288-2103|             D|     55|PES-002334|       1250.0|HOSPITAL NACIONAL...|             5|
|             F|100001010000015977|01-oct-19|2015LA-000053-2103|             D|     55|PES-002335|        840.0|HOSPITAL NACIONAL...|             4|
|             F|100001010000015978|01-oct-19|2018CD-000446-2103|             D|     55|PES-002336|       1410.0|HOSPITAL NACIONAL...|            15|
+--------------+------------------+---------+------------------+--------------+-------+----------+-------------+--------------------+--------------+
only showing top 20 rows

In [92]:
df.summary().show()

+-------+--------------+--------------------+---------+------------------+--------------+------------------+----------+------------------+--------------------+-----------------+
|summary|TIPO_DOCUMENTO|             FACTURA|    FECHA|            RUBRO1|MONEDA_FACTURA|           CLIENTE|    PEDIDO|     TOTAL_FACTURA|          EMBARCAR_A|   TOTAL_UNIDADES|
+-------+--------------+--------------------+---------+------------------+--------------+------------------+----------+------------------+--------------------+-----------------+
|  count|           974|                 974|      974|               533|           974|               974|       974|               974|                 974|              974|
|   mean|          null|1.000010110061772...|     null|              null|          null| 743.0862422997947|      null|179513.38287427102|                null|489.2977412731006|
| stddev|          null| 4.373838003476045E9|     null|              null|          null|1083.9221114239526|      null|1132475.6032207585|                null|8917.892583635045|
|    min|             D|  100001010000015960|01-oct-19|2012LN-000004-2104|             D|                 7|PEC-013013|              30.0|ABRAHAMS INSUMOS ...|                1|
|    25%|          null|  100001010000016208|     null|              null|          null|                53|      null|             696.0|                null|                2|
|    50%|          null|  100001010000016448|     null|              null|          null|                59|      null|            3842.0|                null|                5|
|    75%|          null|  100001010000016688|     null|              null|          null|               756|      null|          58965.17|                null|               20|
|    max|             F|  100001030000002216|30-oct-19|               Ref|             L|              3165|RP-0000795|     2.769985399E7|      WEIZHEN HE CEN|           254000|
+-------+--------------+--------------------+---------+------------------+--------------+------------------+----------+------------------+--------------------+-----------------+

In [93]:
df.select(['TIPO_DOCUMENTO','TOTAL_FACTURA']).show()

+--------------+-------------+
|TIPO_DOCUMENTO|TOTAL_FACTURA|
+--------------+-------------+
|             F|      42750.0|
|             F|     106199.2|
|             F|     764032.5|
|             F|       2801.6|
|             F|     3023.856|
|             F|   7439.71008|
|             F|       3134.0|
|             F|       4870.0|
|             F|      9084.12|
|             F|     28513.87|
|             F|    613160.94|
|             F|     36826.59|
|             F|     30092.97|
|             F|    111492.16|
|             D|      2222.05|
|             F|       1590.0|
|             F|     38268.08|
|             F|       1250.0|
|             F|        840.0|
|             F|       1410.0|
+--------------+-------------+
only showing top 20 rows

In [94]:
df.select(['TIPO_DOCUMENTO','TOTAL_FACTURA']).show(5)

+--------------+-------------+
|TIPO_DOCUMENTO|TOTAL_FACTURA|
+--------------+-------------+
|             F|      42750.0|
|             F|     106199.2|
|             F|     764032.5|
|             F|       2801.6|
|             F|     3023.856|
+--------------+-------------+
only showing top 5 rows

In [95]:
df.filter(df['TOTAL_FACTURA'] > 1000000).show()

+--------------+------------------+---------+------+--------------+-------+----------+-------------+--------------------+--------------+
|TIPO_DOCUMENTO|           FACTURA|    FECHA|RUBRO1|MONEDA_FACTURA|CLIENTE|    PEDIDO|TOTAL_FACTURA|          EMBARCAR_A|TOTAL_UNIDADES|
+--------------+------------------+---------+------+--------------+-------+----------+-------------+--------------------+--------------+
|             F|100001010000016021|02-oct-19|  null|             L|   2762|PED-105766|   1659522.43|Farma Value Costa...|           113|
|             F|100001010000016045|03-oct-19|  null|             L|    675|PED-105785|    8177124.4|Hospital La Cat�lica|          1992|
|             F|100001010000016101|07-oct-19|  null|             L|   2962|PED-105834|   2151351.36|Corporaci�n de Se...|             2|
|             F|100001010000016103|07-oct-19|  null|             L|     97|PED-105816| 1.46950709E7|Cefa Central Farm...|          2286|
|             F|100001010000016113|07-oct-19|  null|             L|   3145|PED-105808|    3537264.0|          PRICESMART|           396|
|             F|100001010000016114|07-oct-19|  null|             L|   2762|PED-105838|   2254828.72|Farma Value Costa...|           181|
|             F|100001010000016122|07-oct-19|  null|             L|   2950|PED-105734|   7659805.71|Pharma Punto Net ...|          1053|
|             F|100001010000016127|08-oct-19|  null|             L|    317|PED-105840|    1027245.0|Farmacia Especial...|           300|
|             F|100001010000016139|08-oct-19|  null|             L|    887|PED-105856|   1485968.39|Instituto Centroa...|           215|
|             F|100001010000016183|09-oct-19|  null|             L|   2762|PED-105872|    2652224.4|Farma Value Costa...|           261|
|             F|100001010000016189|10-oct-19|  null|             L|   2970|PED-105829|   1517578.74|Corporaci�n de Su...|           434|
|             F|100001010000016200|10-oct-19|  null|             L|   2970|PED-105853|    1568655.9|Corporaci�n de Su...|           202|
|             F|100001010000016205|10-oct-19|  null|             L|   3105|PED-105900|   1035973.96|      FARMACIAS SABA|            90|
|             F|100001010000016263|11-oct-19|  null|             L|   2762|PED-105909|    1105509.7|Farma Value Costa...|           136|
|             F|100001010000016295|11-oct-19|  null|             L|   3003|PED-105887|2.769985399E7|   Farmacia la Bomba|          3512|
|             F|100001010000016311|14-oct-19|  null|             L|   2762|PED-105930|   1981854.32|Farma Value Costa...|           152|
|             D|100001030000002169|15-oct-19|  null|             L|   3145|PED-105699|    2753144.0|          PRICESMART|           316|
|             D|100001030000002175|16-oct-19|  null|             L|   3145|PED-105808|    2787408.0|          PRICESMART|           320|
|             F|100001010000016410|16-oct-19|  null|             L|   2762|PED-105966|   3447633.36|Farma Value Costa...|           522|
|             F|100001010000016414|16-oct-19|  null|             L|   2600|PED-105952|    1028349.5|Auto Mercado, S.A...|           400|
+--------------+------------------+---------+------+--------------+-------+----------+-------------+--------------------+--------------+
only showing top 20 rows

In [96]:
df.filter(df['TOTAL_FACTURA'] > 1000000).count()

33

In [97]:
df.filter(df['TOTAL_FACTURA'] > 500000).filter(df['TOTAL_UNIDADES'] > 100).count()

48

In [98]:
df.where((df['TOTAL_FACTURA'] > 500000) & (df['TOTAL_UNIDADES'] > 150)).count()

28

In [99]:
df.filter((df['TOTAL_FACTURA'] > 500000) | (df['TOTAL_UNIDADES'] > 200)).count()

105

In [100]:
df.groupBy('CLIENTE').count().show()

+-------+-----+
|CLIENTE|count|
+-------+-----+
|    833|    1|
|    496|    3|
|    137|    5|
|     53|  158|
|   2559|    1|
|   3105|    3|
|    513|    2|
|   3149|    1|
|   3087|    6|
|    108|    1|
|    683|    1|
|   3152|    2|
|    756|   20|
|   3043|    2|
|    183|    1|
|   2683|    3|
|   2583|    1|
|   3151|    1|
|   2962|    1|
|    842|    2|
+-------+-----+
only showing top 20 rows

In [101]:
df.groupBy('EMBARCAR_A').agg(F.mean('TOTAL_FACTURA')).show()

+--------------------+------------------+
|          EMBARCAR_A|avg(TOTAL_FACTURA)|
+--------------------+------------------+
|HOSPITAL NACIONAL...|1535.3457142857144|
|Farmacia Bazzano ...|24916.635000000002|
| Farmacia San Mart�n|         222306.03|
|Farmacia de Valve...|         102406.08|
|          PRICESMART|3025938.6666666665|
|  Farmacias Prosalud|          26156.09|
| LA FARMA TRES RIOS.|          79656.32|
|  Farmacia El Caribe|         125896.91|
|HOSPITAL ROBERTO ...|         532.68456|
|Farmacia San Anto...|          81563.68|
|AREA DE SALUD DE ...|              46.0|
|         Uro Lap S.A|            1530.0|
|DICA CLEAN SOCIED...|          296667.6|
| Farmacia Valenciano|          31387.32|
|Botica Nueva Desa...|          17217.04|
|   VETERINARIA MONGE|          10221.61|
|Clinica Medica Qu...|          339637.0|
|Farmacia Santa Ca...|126389.48499999999|
|Farmacia Especial...|        324261.985|
|EDUARDO NU�EZ MARCOS|            1990.0|
+--------------------+------------------+
only showing top 20 rows

# Con esta funcion se va a programa SQL Query de la información de la tabla factura, donde podemos obtener la columna facturay el total factura del cliente 00059 con total mayor a 2000

In [102]:

df.createOrReplaceTempView("df")

sqlDF = spark.sql("SELECT factura, total_factura FROM df where cliente = 00059 and total_factura > 2000")
sqlDF.show(100)

+------------------+-------------+
|           factura|total_factura|
+------------------+-------------+
|100001010000015963|       2801.6|
|100001010000015964|     3023.856|
|100001010000015965|   7439.71008|
|100001010000016050|       7245.0|
|100001010000016062|       5700.0|
|100001010000016079|      26000.0|
|100001010000016214|       3971.0|
|100001010000016259|       3221.0|
|100001010000016353|     2771.868|
|100001010000016355|   5410.69824|
|100001010000016371|       2702.0|
|100001010000016374|       2394.0|
|100001010000016418|       4800.0|
|100001030000002176|       4800.0|
|100001010000016420|       4800.0|
|100001030000002178|       4800.0|
|100001010000016431|       4800.0|
|100001010000016450|       3489.0|
|100001010000016455|       2005.0|
|100001010000016462|       2726.0|
|100001010000016620|       7459.0|
|100001010000016622|       3572.0|
|100001010000016633|       4800.0|
|100001010000016703|       5687.0|
|100001010000016705|       2043.0|
|100001010000016723|    3381.6864|
|100001010000016725|      10592.0|
+------------------+-------------+

# Se saca el promedio del total de las facturas del cliente 00059 y adicional la factura maxima de este cliente

In [103]:
sqlDF = spark.sql("SELECT avg(total_factura) FROM df where cliente = 00059 and total_factura > 2000")
sqlDF.show(100)

+------------------+
|avg(total_factura)|
+------------------+
| 5275.385878518518|
+------------------+

In [104]:
sqlDF = spark.sql("SELECT max(total_factura) FROM df where cliente = 00059 and total_factura > 2000")
sqlDF.show(100)

+------------------+
|max(total_factura)|
+------------------+
|           26000.0|
+------------------+

# se logra sacar la mayor venta por cliente y maximo total factura por cliente de los primeros 100 clientes.

In [106]:
sqlDF = spark.sql("SELECT   max(cliente),max(EMBARCAR_A), max(total_factura) FROM df  group by cliente, total_factura order by total_factura desc " )
sqlDF.show(100)

+------------+--------------------+------------------+
|max(cliente)|     max(EMBARCAR_A)|max(total_factura)|
+------------+--------------------+------------------+
|        3003|   Farmacia la Bomba|     2.769985399E7|
|          97|Cefa Central Farm...|      1.46950709E7|
|         675|Hospital La Cat�lica|         8177124.4|
|        2950|Pharma Punto Net ...|        7659805.71|
|        2950|Pharma Punto Net ...|        4192366.39|
|        2950|Pharma Punto Net ...|        4097416.13|
|        3145|          PRICESMART|         3537264.0|
|        2762|Farma Value Costa...|        3500276.33|
|        2762|Farma Value Costa...|        3447633.36|
|        3145|          PRICESMART|         2787408.0|
|        3145|          PRICESMART|         2753144.0|
|        2762|Farma Value Costa...|         2652224.4|
|        2762|Farma Value Costa...|        2386565.29|
|        2762|Farma Value Costa...|        2254828.72|
|         842|Asociacion Benefi...|        2156857.57|
|        2962|Corporaci�n de Se...|        2151351.36|
|        2762|Farma Value Costa...|        2056578.12|
|        2762|Farma Value Costa...|        1981854.32|
|        2762|Farma Value Costa...|        1659522.43|
|        2970|Corporaci�n de Su...|         1568655.9|
|        2970|Corporaci�n de Su...|        1517578.74|
|         887|Instituto Centroa...|        1485968.39|
|        2970|Corporaci�n de Su...|        1454929.94|
|        2964|Asociaci�n Centro...|         1436314.6|
|        2812|Asociaci�n Cl�nic...|         1403773.3|
|         675|Hospital La Cat�lica|         1376230.4|
|        2970|Corporaci�n de Su...|        1349384.38|
|         513|     Farmacia Ruisan|         1184604.2|
|        2762|Farma Value Costa...|         1105509.7|
|        2970|Corporaci�n de Su...|         1043069.8|
|        3105|      FARMACIAS SABA|        1035973.96|
|        2600|Auto Mercado, S.A...|         1028349.5|
|         317|Farmacia Especial...|         1027245.0|
|         675|Hospital La Cat�lica|          984180.8|
|        3105|      FARMACIAS SABA|         967321.65|
|        2816|       Healthy Store|         839481.37|
|         317|Farmacia Especial...|          833702.5|
|        2762|Farma Value Costa...|         798243.48|
|         887|Instituto Centroa...|          791687.5|
|         825|Asociacion Costar...|          764032.5|
|        2816|       Healthy Store|         760883.73|
|        2101|Hacienda Agroindu...|          748480.0|
|        2600|Auto Mercado, S.A...|         736100.54|
|        2950|Pharma Punto Net ...|         720350.59|
|         317|Farmacia Especial...|          684830.0|
|         317|Farmacia Especial...|          678960.0|
|        2762|Farma Value Costa...|          648769.0|
|         675|Hospital La Cat�lica|         625989.76|
|         887|Instituto Centroa...|         613160.94|
|        2970|Corporaci�n de Su...|         609887.81|
|        2970|Corporaci�n de Su...|         608287.22|
|          95|CAJA COSTARRICENS...|          600600.0|
|         670|Hospital San Jos�...|         599871.94|
|         887|Instituto Centroa...|         594707.02|
|         670|Hospital San Jos�...|         582014.44|
|        2970|Corporaci�n de Su...|         560568.92|
|        2970|Corporaci�n de Su...|         556166.97|
|         670|Hospital San Jos�...|         554563.51|
|        2816|       Healthy Store|         550654.65|
|         756|Farmacia La Arboleda|         546147.55|
|        2600|Auto Mercado, S.A...|         536579.34|
|         278|ANDRECEL ( Farmac...|         528754.86|
|         670|Hospital San Jos�...|         526397.02|
|          13|Asociaci�n Cartag...|          525572.7|
|        3043|               CIMCA|         508763.22|
|        2991|Asociaci�n Hogar ...|         503260.95|
|         670|Hospital San Jos�...|         502424.32|
|        2777|Cl�nica Universal...|          501840.0|
|         317|Farmacia Especial...|          491893.6|
|        3105|      FARMACIAS SABA|         486429.87|
|         887|Instituto Centroa...|         434607.34|
|        3070|CENTRO MEDICO SAN...|          411625.0|
|         670|Hospital San Jos�...|         407628.72|
|        2762|Farma Value Costa...|         405105.04|
|         670|Hospital San Jos�...|          391768.2|
|         670|Hospital San Jos�...|          388502.6|
|        2665|Asociaci�n San Vi...|         382173.51|
|        2600|Auto Mercado, S.A...|         381386.18|
|          49|HOSPITAL ENRIQUE ...|          380250.0|
|        2908|AREA DE SALUD DE ...|          378000.0|
|         127|Clinica Medica Qu...|          339637.0|
|         675|Hospital La Cat�lica|         336160.58|
|         317|Farmacia Especial...|          335687.9|
|          43|HOSPITAL DE GUAPILES|          323120.0|
|         887|Instituto Centroa...|         296884.59|
|        3091|DICA CLEAN SOCIED...|          296667.6|
|         675|Hospital La Cat�lica|         294430.28|
|         756|Farmacia La Arboleda|          288595.6|
|         137|Comercial Farmace...|          281077.3|
|        3070|CENTRO MEDICO SAN...|          278730.4|
|         513|     Farmacia Ruisan|          278730.4|
|        3107|UNIDAD DE QUIMIOT...|         278533.08|
|         317|Farmacia Especial...|         277900.83|
|        2777|Cl�nica Universal...|         276081.18|
|        3073|FARMACIA NUESTRA ...|         272818.05|
|         887|Instituto Centroa...|         269823.42|
|        3147| SEDE ADMINISTRATIVA|          265845.0|
|        3004|Hospital Universi...|         264982.15|
|         552|Farmacia Ciudad C...|         264314.23|
|        3157|AREA DE SALUD MOR...|         253589.56|
+------------+--------------------+------------------+
only showing top 100 rows